@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playwrite+PE:wght@100..400&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgRed: #ffe5df;
    --colorRed: #d60408;
    --specialFont: "EB Garamond", serif;
}

.wrapperBG {
    background-color: var(--bgRed);
}

.bloodText {
    color: var(--colorRed)!important;
}

.specialFont {
    font-family: var(--specialFont);
}

.bloodButton {
    background: radial-gradient(circle, #d60408 0%, rgba(255,106,0,1) 100%) !important;
}

.bloodButton:hover {
    background: radial-gradient(circle, rgba(255,106,0,1) 0%, #d60408 100%) !important;
}

.basicContainer{
    width:60%;
    margin:auto;
}

/* other utils class */
.ant-menu-item-selected {
    background-color: red !important;
    color: white !important;
}

.leftPadding{
    padding-left: 3rem;
}

/* Screen size - responsive */
@media only screen and (max-width: 350px) {
    .ant-layout-header {
        padding: 0px 10px !important;
    }
}
@media only screen and (max-width: 800px) {
    .basicContainer {
        width:90%;
    }
    .leftPadding{
        padding-left: 0rem;
    }
}